@import '../../variables.scss';

.tab-item{
  
}
.text_k8e4nalo {
    font-size: 14px;
    color: #666;
  }
  
  .div_k8e4nalp {
    padding: 12px;
    background: #f2f2f2;
    border: 1px solid #ddd;
  }
  